Source: hawkeye
Maintainer: Igor Partola <igor@igorpartola.com>
Section: admin
Priority: optional
Build-Depends: debhelper, libv4l-dev, libjpeg8-dev, libssl-dev, dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.5

Package: hawkeye
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libv4l-0, libjpeg8, libssl1.0.0, logrotate
Description: USB webcam streaming server
 An simple and fast USB webcam MJPEG streaming server.
